services:
  app:
    build:
      context: .
      target: server
    container_name: pr_reviewer_assigment_service
    restart: unless-stopped
    ports: 
      - ${PORT}:${PORT}
    depends_on:
      migrate: 
        condition: service_completed_successfully
      db: 
        condition: service_healthy

  migrate:
    build:
      context: .
      target: migration
    container_name: migrate
    command: ["-command", "up"]
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:${POSTGRES_VERSION}
    restart: always
    container_name: postgres
    ports:
      - ${POSTGRES_PORT}:${POSTGRES_PORT}
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    healthcheck:
      test: ["CMD-SHELL", "sh -c \"pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}\""] 
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: