services:
  app:
    build:
      context: .
      target: server
    container_name: pr_reviewer_assigment_service
    restart: unless-stopped
    ports: 
      - ${PORT:-8080}:${PORT:-8080}
    environment:
      - PORT=${PORT:-8080}
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
    depends_on:
      migrate: 
        condition: service_completed_successfully
      db: 
        condition: service_healthy

  migrate:
    build:
      context: .
      target: migration
    container_name: migrate
    command: ["-command", "up"]
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:${POSTGRES_VERSION:-15-alpine}
    restart: always
    container_name: postgres
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    environment:
      - POSTGRES_HOST=${POSTGRES_HOST:-postgres}
      - POSTGRES_USER=${POSTGRES_USER:-postgres}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-postgres}
      - POSTGRES_DB=${POSTGRES_DB:-postgres}
    healthcheck:
      test: ["CMD-SHELL", "sh -c \"pg_isready -U $${POSTGRES_USER:-postgres} -d $${POSTGRES_DB:-postgres}\""] 
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: